<div class='sidenav'>
  <span (click)='addPlayer("filipe")'>+ Player Filipe</span>
  <span (click)='addPlayer("jayme")'>+ Player Jayme</span>
  <span (click)='getGame()'>Get Game</span>
  <span (click)='getPlayers()'>Get Players</span>
  <span (click)='giveOneTo("jayme")'>Give 1 to Jayme</span>
  <span (click)='giveOneTo("filipe")'>Give 1 to Filipe</span>
<!--  <span [class.selected]='docId === currentDoc' (click)='loadDoc(docId)' *ngFor='let docId of documents | async'>{{ docId }}</span>-->
</div>
